body{
    background: url("img/body.png");
}

#bitcoin{
    width: 308px;
    height: 354px;
    background: url("img/orange.png");
    left: 900px;
    position: absolute;
    top: 200px;
}
#litecoin{
    background: url("img/gray.png");
    width: 308px;
    height: 354px;
    left: 521px;
    position: absolute;
    top: 200px;
}
#ethereum{
    background: url("img/green.png");
    width: 308px;
    height: 354px;
    left: 142px;
    position: absolute;
    top: 200px;
}
h1{
    color: white;
    position: absolute;
    left: 154px;
}
.select{
    z-index: 1;
    top: 50px;
    position: absolute;
    left: 142px;
    width: 748px;
    border-radius: 5px;
}
#sel{
    position: absolute;
    left: 708px;
    width: 308px;
    height: 50px;
    top: 20px;
    border-radius: 5px;
    background-color: rgb(27,35,43);
    color: white;
}
#option_div{
    position: absolute;
    left: 142px;
    width: 900px;
   background-color: white;
}
#bit_img{
    background: url("img/bit_img.png");
    z-index: 3;
    position: absolute;
    width: 163px;
    height: 150px;
    top: 50px;
    left: 50px;
}
#lit_img{
    background: url("img/Linkoin.png");
    z-index: 3;
    position: absolute;
    width: 128px;
    height: 140px;
    left: 90px;
    top: 50px;
}
#eth_img{
    background: url("img/ethereum.png");
    z-index: 3;
    position: absolute;
    width: 150px;
    height: 145px;
    left: 80px;
    top: 50px;
}
h2{
    position: absolute;
    left: 110px;
    color: white;
}
table{
    position: absolute;
    top: 200px;
    left: 30px;
    color: white;
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: gray;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#eth:checked + .toggle:before {
    background: aqua;
}
#eth:checked + .toggle span {
    background: gray;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#eth:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}
.radio{
    position: absolute;
    top: 25px;
    left: 200px;
}
#bit:checked + .toggle:before {
    background: aqua;
}
#bit:checked + .toggle span {
    background: gray;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#bit:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}
#lit:checked + .toggle:before {
    background: aqua;
}
#lit:checked + .toggle span {
    background: gray;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#lit:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}